* {
    margin: 0 auto;
}
body{
    background-color: black;
}
main {
    width: 80%;
    height: 650px;
    /* depois height:auto;*/
    /* background-color: rgb(0, 0, 0); */
    display: block;
}

#um {
    width: 48%;
    height: 600px;
    /* depois height:auto;*/
    background-color: #77878d;
    float: left;
    margin: 1%;
    border: 10px;
    border-radius: 29px;
    display: block;
     box-shadow: 2px 2px 8px #bbb7b7;
}

#dois {
    width: 48%;
    height: 600px;
    /* depois height:auto;*/
    background-color: #77878d;
    float: left;
    margin: 1%;
     border: 10px;
    border-radius: 29px;
    display: block;
    box-shadow: 2px 2px 8px #bbb7b7;
}

#v{
    width: 60%;
     border: 10%;
     border-radius: 10%;
}
#f{
    width: 60%;
     border: 10%;
     border-radius: 25%;
}
#a, #b{
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 5px white;
}
#c{ 
 padding: 10px 20px;
 text-decoration: none;
 border:  3px solid black;
 width: 140px;
 height: 20px;
 border-radius: 10px;
 font-style:italic;
 font-weight: bolder;

}
#d{ 
    text-decoration: none;
 padding: 10px 20px;
 border:  3px solid black;
 width: 140px;
 height: 20px;
 border-radius: 10px;
 font-style:italic;
 font-weight: bolder;

}
p{
    text-align: center;
    padding : 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 768px){

        #um, #dois{
        width: 98%;
        margin-bottom: 10px;
    }
    main{
        height: 1200px;
    }
}